.container{
    background-color: rgb(201, 198, 198);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0 .3rem 0;
    border-top: 1px solid black;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: .75rem;
}

.link{
    text-decoration: none;
    color: black;
}