@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
  /*background-color: #2D2727;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
} 