$height:3rem;
.container{
    display: flex;
    width: 80%;
}

.svg{
    width: $height;
    height: $height;
    border: 1px solid black;
    border-radius: 0 $height $height 0;
    border-left: 0;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
    padding-right: 12px;
}

.input{
    width: 100%;
    height: $height;
    border: 1px solid black;
    border-right: 0;
    border-radius: $height 0 0 $height;
    padding-left: $height/2;
    &:focus{
        outline:none;
    }
}