$height:3rem;

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 1.5rem;    
}

.barContainer{
    display: flex;
    width: 100%;
}

.svg{
    width: $height;
    height: $height;
    border: 1px solid black;
    border-radius: 0 $height $height 0;
    border-left: 0;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
    padding-right: 12px;
}

.input{
    width: 100%;
    height: $height;
    border: 1px solid black;
    border-right: 0;
    border-radius: $height 0 0 $height;
    padding-left: $height/2;
    &:focus{
        outline: 2px solid lightblue;
    }
}

.songsContainer{
    width: 100%;
    padding: 1rem 0 1rem 0;
}