.container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: .5rem;
    margin-bottom: .7rem;
    border-radius: 6px;
}

.imgContainer{
    position: relative;
    border: 2px solid gray;
}

.info{
    padding: .5rem;
    width:100%;
    h1{
        font-size: 1.2rem;
    }
    p{
        font-size: .8rem;
    }
}

.addButton{
    width:  30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-right: .5rem;
    .plus{
        width: 18px;
        height: 3px;
        border-radius: 4px;
        background-color: black;
        position: absolute;
        &:nth-child(2){
            transform: rotate(90deg);
            transition: .5s;
        }
    }
    .minus{
        width: 18px;
        height: 2px;
        border-radius: 4px;
        background-color: black;
        position: absolute;
        transition: .5s;
        &:nth-child(2){
            opacity: 0;
        }
    }
}
